*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#continer{
    display: grid;
    gap: 100px 100px;
    grid-template-columns: repeat(3, 400px);
    justify-self: center;
}

.content{
    margin-top: 20px;
}

.paragraph{
    height: 150px;
}